<!DOCTYPE html>


<html>

<head>
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:400,900|Oswald">
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/report.css') }}">
</head>
{% extends "head.html" %}
{% block content %}
  <div id = "issue">
    Please explain the problem below:</div>
  <br>
  <form action = "" method = "POST">
    <div id = "box"><textarea name="bug" id = "buggy" placeholder = "Detail your issue here, or just say something nice"></textarea><div id = "mit">
      <input type = "submit" id = "formpost"></div>
 
    </div>
  </form>
    {% endblock %}
    </html>
