#box{
  height: 15rem;
}

#buggy{
  width: 35%;
  height: 100%;
  font-size: 1rem;
  
}
#mit{
  width: 68%;
  }
#formpost{
  float: right;
  background-color: orange;
  font-family: "Oswald";
  width: 8%;
  font-size: 1rem;
}
textarea{
  resize: none;
}
body {
  text-align: center;
  font-family: "Roboto";
  
}