
body{
  font-size: 3rem;
  text-align: center;
  font-family: "Roboto";
}
body::first-letter{
  font-size: 4rem;
  color: rgb(151, 242, 118);
}
#check{
  text-align: right;
  width: 25%;
  float: left;
   color: green;
  background-color: black;
}
#return{
  font-size: 1.5rem;
}