<!DOCTYPE html>
<html>
 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/front.css') }}">
<body class = "body">
  	<p id = "first"> Select the Streaming service for the url </p>
  	<form action="" method="POST">
    <div class = "clearfix">
    	<div class = "butgroup">
    		<button class = "buttonup" id = "spotify" type = "button" name = "spotify"> Spotify </button> 
    	</div>
    	<div class = "butgroup">
        	<button class = "buttonup" id = "apple" type = "button" name = "apple"> Apple Music </button>
        </div>
        <div class = "butgroup">
			<button class = "buttonup" id = "tidal"type = "button"name = "tidal"> Tidal </button> 
      	</div>
  	</div>
  	<br> 
  	<div id = "urltext">Enter url here: </div>
    <input class = "input" type="text" name="url">
  	<br>
	<p id = "outputtext">Select output for playlist:</p>
	<div class = "clearfix">
    <div class = "butgroup">
    	<button class = "buttondown" id = "spotify2"type = "button" > Spotify </button> 
    </div>
    <div class = "butgroup">
        <button class = "buttondown" id = "youtube" type = "button"> YouTube </button>
    </div>
    <div class = "butgroup">
		<button class = "buttondown" id = "tidal2" type = "button"> Tidal </button> 
    </div>
  	</div>
    <br><br>
    <div class = "bottom">
      	<button class = "submit" id = "submit" > Submit </button>
    </div>
    <!-- <select name = "sel">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select> -->
  	</form>
  	<p id = "test"></p>
  
<br><br>
<br><br><br><br><br>

</body>

</script>
<script src={{ url_for('static', filename='test.js') }}></script>
</html>
