<!DOCTYPE html>
<html>
<head>
  <!-- <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}">
    
  </script> -->
  <!-- <script type=text/javascript>
  // $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
 --> </head>
<h1>jQuery Example</h1>
<p><input type=text size=5 name=a> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a></p></p>
<button class = "buttonup" id = "spotify" type = "button" name = "spotify"> Spotify </button>
<form id="calc">
  <label>a <input name="a"></label>
  <span>+</span>
  <label>b <input name="b"></label>
  <input type="submit" value="Calculate" id = "buttone">
</form>
 </html>
<!-- </script> --> 
<!-- <script type="text/javascript">
 
</script>
<script src={{ url_for('static', filename='index.js') }}></script> -->

